<div class="container">
  <div class="row">
    <br>

    <div>
      <br>

      <p class="alert alert-info">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis officia quas esse aut a illo dicta, eveniet
        nostrum! Consectetur veniam, libero vitae deserunt dolorem non neque iure soluta. Neque, dolorem.
        LoremLorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis officia quas esse aut a illo dicta.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere voluptatum necessitatibus, repellendus maiores praesentium nisi a voluptatem, quae magnam suscipit cumque? Obcaecati illum dolorem odit eligendi quos quibusdam culpa eum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis officia quas esse aut a illo dicta, eveniet
        nostrum! Consectetur veniam, libero vitae deserunt dolorem non neque iure soluta. Neque, dolorem.
        LoremLorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis officia quas esse aut a illo dicta.
        
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis officia quas esse aut a illo dicta, eveniet
        nostrum! Consectetur veniam, libero vitae deserunt dolorem non neque iure soluta. Neque, dolorem.
        LoremLorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis officia quas esse aut a illo dicta.
        
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis officia quas esse aut a illo dicta, eveniet
        nostrum! Consectetur veniam, libero vitae deserunt dolorem non neque iure soluta. Neque, dolorem.
        LoremLorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis officia quas esse aut a illo dicta.
        
      </p>
      
    </div>
  </div>
  <div class="row">
  </div>
</div>
